---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minima";


a {
  color: #7010d0;
  text-decoration: none;

  &:visited {
    color: darken(#7010d0, 25%);
  }

  &:hover {
    color: $text-color;
    text-decoration: underline;
  }

  .social-media-list &:hover {
    text-decoration: none;

    .username {
      text-decoration: underline;
    }
  }
}

.post-content {

  h1 {
    color: $brand-color;
  }

  h2 {
    @include relative-font-size(2);
    color: $brand-color;
    @include media-query($on-laptop) {
      @include relative-font-size(1.75);
    }
  }

  h3 {
    @include relative-font-size(1.625);
    color: $brand-color;
    @include media-query($on-laptop) {
      @include relative-font-size(1.375);
    }
  }

  h4 {
    @include relative-font-size(1.35);
    color: $brand-color;
    text-decoration: underline;
    @include media-query($on-laptop) {
      @include relative-font-size(1.125);
    }
  }

  blockquote {
    color: $grey-color;
    border-left: 4px solid #402060;
    padding-left: $spacing-unit / 2;
    @include relative-font-size(1.125);
    letter-spacing: -1px;
    font-style: italic;
    margin-left: 20px;
    margin-right: 40px;

    > :last-child {
      margin-bottom: 0;
    }
  }
}
